body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h2 {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
img {
  display: block;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* Header */
.header-menu {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-menu .container {
  display: flex;
  background: #fff;
  align-items: center;
}
.header-nav-menu {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-nav-menu-item {
  position: relative;
  display: flex;
  gap: 40px;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-header {
  color: #2e2f42;
}
.link {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-studio {
  position: relative;
  color: #404bbf;
}

.link-studio::after {
  content: '';
  position: absolute;
  color: #404bbf;
  left: 0;
  bottom: -1px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.link:hover,
.link:focus {
  color: #404bbf;
  text-decoration: underline;
}
.address-menu {
  display: flex;
  gap: 40px;
  font-style: normal;
}
.address-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* Main page */
/* Section-1 */
.main-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  display: block;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.main {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/backgraund/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto;
}
.main .container {
}
.main-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  align-self: center;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover {
  background-color: #404bbf;
}
.main-button:focus {
  background-color: #404bbf;
}
/* Section-2 */
.introduction {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.icons-section-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}
.intro-items {
  display: flex;
  gap: 24px;
}
.intro-item {
  width: calc((100% - 72px) / 4);
}
.intro-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.intro-list {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
/* Section-3 */
.team {
  background-color: #f4f4fd;
  display: flex;
  padding: 120px 0;
  margin: 0 auto;
}

.team-title {
  display: flex;
  justify-content: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.card {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-items {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}
.card-info {
  padding: 32px 0;
}
.team-item {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-list {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}
.team-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
  fill: #f4f4fd;
}
.team-icons-link {
  width: 40px;
  height: 40px;
}
.icons-link:hover,
.icons-link:focus {
  background-color: #404bbf;
}
/* Section-4 */
.portfolio {
  background-color: #ffffff;
  display: flex;
  padding: 120px 0;
  margin: 0 auto;
}
.portfolio-title {
  display: flex;
  justify-content: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}
.project-card {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-list {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.card-project-overlay {
  position: relative;
  overflow: hidden;
}
.overlay-list {
  position: absolute;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover .overlay-list {
  transform: translateY(0%);
}

/* Footer */
.footer {
  display: flex;
  background: #2e2f42;
  padding: 100px 0;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-content {
  margin-right: 120px;
}
.logo-footer-top {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-footer {
  color: #f4f4fd;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-list {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
.footer-media-list {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-icons {
  gap: 16px;
}

.footer-social-media .icons-link:hover,
.footer-social-media .icons-link:focus {
  background-color: #31d0aa;
}
.subscribe {
  margin-left: 80px;
}

.footer-form-label {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-form-input {
  display: block;
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #fff;
}
.footer-form-input-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
::placeholder {
  color: #fff;
  font-weight: 400;
}

.subscribe-own-icon {
  fill: #fff;
  line-height: 0;
  margin-left: 16px;
}
.button-subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  background: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #404bbf;
}

/* Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  stroke-width: 1px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
  fill: #fff;
}
.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-list {
  display: flex;
  color: hsl(237, 18%, 22%);
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.review-form-field-wrapper {
  margin-bottom: 8px;
}
.review-form-field-label {
  display: block;
  align-items: center;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.review-form-field-input {
  outline: transparent;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-field-input:focus {
  border-color: #4d5ae5;
}

.review-form-field {
  position: relative;
}
.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-field-input:focus + .review-form-field-icon {
  fill: #4d5ae5;
}
.review-form-field-comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  padding: 8px 16px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-comment {
  margin-bottom: 16px;
}

.review-form-field-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.review-form-field-comment:focus {
  border-color: #4d5ae5;
}

.review-form-field-own-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  stroke: rgba(0, 0, 0, 0.1);
  outline: 0;
  border-radius: 2px;
  stroke-width: 1px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.review-form-field-checkbox:focus
  + .review-form-field-label
  > .review-form-field-own-checkbox {
  border: 1px solid #404bbf;
}
.review-form-field-checkbox:checked
  + .review-form-field-label
  > .review-form-field-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.review-form-field-own-checkbox-icon {
  fill: #fff;
  stroke: #fff;
  opacity: 0;
  top: auto;
  left: auto;
}
.review-form-field-checkbox:checked
  + .review-form-field-label
  .review-form-field-own-checkbox-icon {
  opacity: 1;
}
.review-checkbox {
  margin-bottom: 24px;
}
.accent-color {
  color: #4d5ae5;
  text-decoration: underline;
}

.review-form-field-button {
  display: block;
  justify-content: center;
  min-width: 169px;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  border: transparent;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  margin: auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-field-button:focus,
.review-form-field-button:hover {
  background-color: #404bbf;
}
